<!-- Widget: Latest news -->
<div class="widget clearfix">
  <h3>{{ 'site.label.facilitiesAtRenzHotel' | trans }}</h3>
  <div class="tags"> 
    <a href="#">{{ 'site.label.foodDrink' | trans }}</a> 
    <a href="#">{{ 'site.label.internet' | trans }}</a> 
    <a href="#">{{ 'site.label.parking' | trans }}</a> 
    <a href="#">{{ 'site.label.services' | trans }}</a> 
    <a href="#">{{ 'site.label.general' | trans }}</a> 
    <a href="#">{{ 'site.label.englishLang' | trans }}</a>
    <a href="#">{{ 'site.label.arabicLang' | trans }}</a>
  </div>
</div>