<script type="text/javascript">$(document).ready(function(){$('#parallax-image').parallax("50%", -0.35);});</script>

<section class="parallax-effect mt100">
  <div id="parallax-image" style="background-image: url({{ asset('bundles/main/images/parallax/parallax-01.jpg') }});">
    <div class="color-overlay fadeIn appear" data-start="600">
      <div class="container">
        <div class="content">
          <h3 class="text-center">
			{{ 'site.label.renzHotel' | trans }}
		  </h3>
          <p class="text-center">{{ 'site.label.welcomeToRenzHotel' | trans }}
		  <br>
		  <a href="{{ path('renz_main_page_about') }}" class="btn btn-default btn-lg mt30">{{ 'site.label.aboutRenzHotel' | trans }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>