{% extends "::admin.html.twig" %}

{% block pagetitle %}Newsletter Subscriber List{% endblock %}
	
{% block javascriptcode %}
<script type="text/javascript">

$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
});
</script>
{% endblock %}

{% block contentsinglecolumn %}

{{ form_start(form) }}

	<!-- Left column/section -->
	<section class="column width6 first">
	
	<h3>Add New Newsletter Subscriber</h3>
	
		<fieldset>
			<legend>Fill in details and press save..</legend>
			
			<p>
				{{ form_label(form.name) }}<br/>
				{{ form_widget(form.name) }}
				<small>e.g. John</small>
			</p>
			
			<p>
				{{ form_label(form.email) }}<br/>
				{{ form_widget(form.email) }}
				<small>e.g. John@renz.com.sa</small>
			</p>
			
			<p class="box"><input type="submit" class="btn btn-green big" value="Save"/> or <a href="{{ path('renz_admin_newsletter_index') }}">Cancel</a></p>
	
		</fieldset>
	
	</section>
	<!-- End of Left column/section -->
	
	<!-- Right column/section -->
	<aside class="column width2">
		
		<p><a href="{{ path('renz_admin_newsletter_index') }}" class="btn btn-special"><img SRC="{{ asset('bundles/admin/img/page_white_go.png') }}" class="icon" alt=""/>Cancel and go back</a></p>
		 
		<div id="rightmenu">
			<dl class="first">
				<dt><img width="16" height="16" alt="" SRC="img/help.png"></dt>
				<dd><a href="#">Help</a></dd>
				<dd class="last">If you are a new user, you should read "Getting started"</dd>							
			</dl>
		</div>
		
	</aside>
	<!-- End of Right column/section -->

{{ form_end(form) }}

{% endblock %}