{% extends "::admin.html.twig" %}

{% block pagetitle %}News List{% endblock %}
	
{% block javascriptcode %}
<script type="text/javascript">

/* sample tags */
var tags=[
	{tag:"js",freq:30},{tag:"jquery",freq:25}, {tag:"pojo",freq:10},{tag:"agile",freq:4},
	{tag:"blog",freq:3},{tag:"canvas",freq:8}, {tag:"dialog",freq:3},{tag:"excel",freq:4},
	{tag:"engine",freq:5},{tag:"flex",freq:18}, {tag:"firefox",freq:23},{tag:"javascript",freq:40},
	{tag:"graph",freq:15},{tag:"grid",freq:20}, {tag:"hibernate",freq:13},{tag:"ical",freq:4},
	{tag:"ldap",freq:9},{tag:"load",freq:20}, {tag:"security",freq:13},{tag:"XSS",freq:21},
	{tag:"CSRF",freq:19},{tag:"html",freq:22}, {tag:"xml",freq:13},{tag:"tools",freq:21}
];

$(document).ready(function(){
	
	/* setup navigation, content boxes, etc... */
	Administry.setup();
	
	$('#renz_modelbundle_news_longDetails').wysiwyg({
    controls: {
      strikeThrough : { visible : true },
      underline     : { visible : true },
      
      justifyLeft   : { visible : true },
      justifyCenter : { visible : true },
      justifyRight  : { visible : true },
      justifyFull   : { visible : true },
      
      indent  : { visible : true },
      outdent : { visible : true },
      
      subscript   : { visible : true },
      superscript : { visible : true },
      
      undo : { visible : true },
      redo : { visible : true },
      
      insertOrderedList    : { visible : true },
      insertUnorderedList  : { visible : true },
      insertHorizontalRule : { visible : true },

      h4: {
              visible: true,
              className: 'h4',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h4>' : 'h4'],
              tags: ['h4'],
              tooltip: 'Header 4'
      },
      h5: {
              visible: true,
              className: 'h5',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h5>' : 'h5'],
              tags: ['h5'],
              tooltip: 'Header 5'
      },
      h6: {
              visible: true,
              className: 'h6',
              command: $.browser.msie ? 'formatBlock' : 'heading',
              arguments: [$.browser.msie ? '<h6>' : 'h6'],
              tags: ['h6'],
              tooltip: 'Header 6'
      },
      
      cut   : { visible : true },
      copy  : { visible : true },
      paste : { visible : true },
      html  : { visible: true }
    }
  });

});
</script>
{% endblock %}

{% block contentsinglecolumn %}

{{ form_start(edit_form) }}

	<!-- Left column/section -->
	<section class="column width6 first">
	
	<h3>Update News</h3>
	
		<fieldset>
			<legend>Fill in details and press save..</legend>
			
			<p>
				{{ form_label(edit_form.title) }}<br/>
				{{ form_widget(edit_form.title) }}
				<small>e.g. New Hotel</small>
			</p>
			
			<p>
				{{ form_label(edit_form.details) }}
				<br/>
				{{ form_widget(edit_form.details) }}
			</p>
			
			<p>
				{{ form_label(edit_form.longDetails) }}
				<br/>
				{{ form_widget(edit_form.longDetails) }}
			</p>
			
			<p class="box" style="text-align:center;">IN ARABIC</p>
			
			<p>
				{{ form_label(edit_form.titlear) }}<br/>
				{{ form_widget(edit_form.titlear) }}
				<small>e.g. New Hotel</small>
			</p>
			
			<p>
				{{ form_label(edit_form.detailsar) }}
				<br/>
				{{ form_widget(edit_form.detailsar) }}
			</p>
			
			<p>
				{{ form_label(edit_form.longDetailsar) }}
				<br/>
				{{ form_widget(edit_form.longDetailsar) }}
			</p>
			
			<p class="box"><input type="submit" class="btn btn-green big" value="Save"/> or <a href="{{ path('renz_admin_news_index') }}">Cancel</a></p>
	
		</fieldset>
	
	</section>
	<!-- End of Left column/section -->
	
	<!-- Right column/section -->
	<aside class="column width2">
		
		<p><a href="{{ path('renz_admin_news_index') }}" class="btn btn-special"><img SRC="{{ asset('bundles/admin/img/page_white_go.png') }}" class="icon" alt=""/>Cancel and go back</a></p>
		
		<div class="content-box">
			<header>
				<h3>News Visibility</h3>
			</header>
			<section>
				Choose whether or not you want this News to be publicly visible.
				<p>{{ form_widget(edit_form.status) }}</p>
			</section>
		</div>
		 
		<div id="rightmenu">
			<dl class="first">
				<dt><img width="16" height="16" alt="" SRC="img/help.png"></dt>
				<dd><a href="#">Help</a></dd>
				<dd class="last">If you are a new user, you should read "Getting started"</dd>							
			</dl>
		</div>
		
	</aside>
	<!-- End of Right column/section -->

{{ form_end(edit_form) }}

{% endblock %}