{% extends '::base.html.twig' %}

{% block content %}

<style>
	.error{color:red;}
</style>

<script>
$(function (){
	$('#bookingform').validate({
		rules: {
			'email': {
		    	required: true,
		    	email: true,
			},
		},
	});
});
</script>

<!-- Parallax Effect -->
<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>

<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url({{ asset('bundles/main/images/parallax/parallax-01.jpg') }});">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="{{ path('renz_main_index_index') }}">Home</a></li>
              <li class="active">Forgot Password?</li>
            </ol>
            <h1>Forgot Password?</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row"> 
    
      <div class="col-sm-12">
      	<div class="col-md-6 col-md-offset-3">
      		
      		{% for flashMessage in app.session.flashbag.get('error') %}
      			<br /><br />
			    <div class="alert alert-danger alert-dismissable">
		          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				  {{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('success') %}
				<br /><br />
			    <div class="alert alert-success alert-dismissable">
		          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				  {{ flashMessage }}
				</div>
			{% endfor %}
			
			{% for flashMessage in app.session.flashbag.get('resetsuccessfull') %}
				<br /><br />
			    <div class="alert alert-success alert-dismissable">
		          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				  {{ flashMessage }}
				</div>
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('resetfailed') %}
      			<br /><br />
			    <div class="alert alert-danger alert-dismissable">
		          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				  {{ flashMessage }}
				</div>
			{% endfor %}
			
			<br />
      		
			<form class="reservation-vertical clearfix" role="form" method="post" action="{{ path('renz_main_security_forgotpasswordresetrequest') }}" id="bookingform">
          	  <div class="form-group">
	            <label for="email" accesskey="E">Your Email Address:</label>
	            <input name="email" type="text" id="email" class="form-control" />
	          </div>
	          <button type="submit" class="btn btn-primary">Submit</button>
	        </form>
      	</div>
      </div>
    
  </div>
</div>

{% endblock %}