{% extends "::admin.html.twig" %}

{% block pagetitle %}Photo List{% endblock %}
	
{% block javascriptcode %}
	<script type="text/javascript">
	$(document).ready(function(){
		
		/* setup navigation, content boxes, etc... */
		Administry.setup();
	  
		/* tag input field */
		$("#tags").tagInput({
			tags:tags,
			//jsonUrl:"tags.json",
			sortBy:"frequency",
			suggestedTags:["jquery", "tagging", "tag", "component", "delicious", "javascript"],
			tagSeparator:" ",
			autoFilter:true,
			autoStart:false,
			//suggestedTagsPlaceHolder:$("#suggested"),
			boldify:true
		});
	
	});
	</script>
{% endblock %}

{% block contentsinglecolumn %}

{{ form_start(edit_form) }}

	<!-- Left column/section -->
	<section class="column width6 first">
	
	<h3>Update Photo</h3>
	
		<fieldset>
			<legend>Fill in details and press save..</legend>
			
			<p>
				{{ form_label(edit_form.title) }}<br/>
				{{ form_widget(edit_form.title) }}
				<small>e.g. Villa</small>
			</p>
			
			<p>
				{{ form_label(edit_form.file) }}
				<br />
				<a href="{{ asset('uploads/rooms/'~entity.path) }}" target="_blank">
					<img src="{{ asset('uploads/rooms/'~entity.path) }}" title="{{ entity.title }}" width="150px" />
				</a>
				<br/>
				{{ form_widget(edit_form.file) }}
			</p>
			
			<p>
				{{ form_label(edit_form.room) }}
				<br/>
				{{ form_widget(edit_form.room) }}
			</p>
			
			<p class="box" style="text-align: center;">IN ARABIC</p>
			
			<p>
				{{ form_label(edit_form.titlear) }}<br/>
				{{ form_widget(edit_form.titlear) }}
				<small>e.g. Villa</small>
			</p>
			
			<p class="box"><input type="submit" class="btn btn-green big" value="Save"/> or <a href="{{ path('renz_admin_photo_index') }}">Cancel</a></p>
	
		</fieldset>
	
	</section>
	<!-- End of Left column/section -->
	
	<!-- Right column/section -->
	<aside class="column width2">
		
		<p><a href="{{ path('renz_admin_photo_index') }}" class="btn btn-special"><img SRC="{{ asset('bundles/admin/img/page_white_go.png') }}" class="icon" alt=""/>Cancel and go back</a></p>
		
		<div class="content-box">
			<header>
				<h3>Photo Visibility</h3>
			</header>
			<section>
				Choose whether or not you want this Room to be publicly visible.
				<p>{{ form_widget(edit_form.status) }}</p>
			</section>
		</div>
		
		<div class="content-box">
			<header>
				<h3>Gallery Highlights</h3>
			</header>
			<section>
				Choose whether or not this Photo to display in Gallery Highlights at Home Page..
				<p>{{ form_widget(edit_form.galleryhighlight) }}</p>
			</section>
		</div>
		 
		<div id="rightmenu">
			<dl class="first">
				<dt><img width="16" height="16" alt="" SRC="img/help.png"></dt>
				<dd><a href="#">Help</a></dd>
				<dd class="last">If you are a new user, you should read "Getting started"</dd>							
			</dl>
		</div>
		
	</aside>
	<!-- End of Right column/section -->

{{ form_end(edit_form) }}

{% endblock %}