{% extends "::admin.html.twig" %}

{% block pagetitle %}Photo List{% endblock %}
	
{% block content %}
	<br />				
	
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="box box-success">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	
	<div class="box box-info">Click Show to view details | Click edit to modify details</div>
	
	<table class="display stylized" id="data-table">
		<thead>
			<tr>
                <th>PHOTO</th>
                <th>ROOM</th>
                <th>GALLERY HIGHLIGHT</th>
                <th>UPDATED</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
		</thead>
		<tbody>
			{% for entity in entities %}
	            <tr class="{{ cycle(['gradeX', 'gradeA'], loop.index0) }}">
	                <td>
	                	<a href="{{ asset('uploads/rooms/'~entity.path) }}" target="_blank">
	                		<img src="{{ asset('uploads/rooms/'~entity.path) }}" title="{{ entity.title }}" width="70px" />
	                	</a>
	                </td>
	                <td><a href="{{ path('renz_admin_photo_show', { 'id': entity.id }) }}">{{ entity.room }}</a></td>
	                <td class="center">{% if entity.galleryhighlight==1 %}<font color="green">Yes</font>{% else %}<font color="red">No</font>{% endif %}</td>
	                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d') }}{% endif %}</td>
	                <td class="center">{% if entity.status==1 %}<font color="green">Published</font>{% else %}<font color="red">Disabled</font>{% endif %}</td>
	                <td>
		                <p>
		                	<a href="{{ path('renz_admin_photo_show', { 'id': entity.id }) }}">SHOW</a>
		                	|
		                    <a href="{{ path('renz_admin_photo_edit', { 'id': entity.id }) }}">EDIT</a>
		                </p>
	                </td>
	            </tr>
	        {% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th>PHOTO</th>
                <th>ROOM</th>
                <th>GALLERY HIGHLIGHT</th>
                <th>UPDATED</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
			</tr>
		</tfoot>
	</table>
	
{% endblock %}

{% block sidenav %}
	<p class="leading">
		<a href="{{ path('renz_admin_photo_new') }}" class="btn btn-special btn-green">
			<img SRC="{{ asset('bundles/admin/img/add.png') }}" class="icon" alt=""/>
			Add New Photo
		</a>
	</p>
	<p class="leading">
		<a href="{{ path('renz_admin_room_index') }}" class="btn btn-special btn-white">
			<img SRC="{{ asset('bundles/admin/img/add.png') }}" class="icon" alt=""/>
			Back to Rooms
		</a>
	</p>
	<div class="box">
		You are now using <b class="big">72%</b> of your allowed storage capacity.
		<div id="capacity" class="progress progress-green"><span><b></b></span></div>
	</div>
	<div class="content-box">
		<header>
			<h3>Tags</h3>
		</header>
		<section>
			<div class="tagcloud">
				<a href="#" class="tag1">lorem</a> <a href="#" class="tag5">ipsum</a> <a href="#" class="tag1">dolor</a> <a href="#" class="tag3">sit</a> <a href="#" class="tag1">amet</a>
			</div>
		</section>
	</div>
{% endblock %}