{% extends '::base.html.twig' %}

{% block content %}

<!-- Parallax Effect -->
<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>

<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url({{ asset('bundles/main/images/parallax/parallax-01.jpg') }});">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="{{ path('renz_main_index_index') }}">{{ 'site.topnav.home' | trans }}</a></li>
              <li class="active">{{ 'site.topnav.gallery' | trans }}</li>
            </ol>
            <h1>{{ 'site.topnav.gallery' | trans }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Filter -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills" id="filters">
        <li class="active"><a href="#" data-filter="*">{{ 'site.label.all' | trans }}</a></li>
        {% for entity in entities %}
        	<li><a href="#" data-filter=".album-{{ entity.id }}">{% if app.request.locale=='ar' %}{{ entity.titlear }}{% else %}{{ entity.title }}{% endif %}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Gallery -->
<section id="gallery" class="mt50">
  <div class="container">
    <div class="row gallery"> 
      
      {% for albums in entities %}
      	{% for photo in albums.albumphotos %}
      	  {% if photo.status %}
	      <!-- Image -->
	      <div class="col-sm-3 album-{{ albums.id }} fadeIn appear" data-start="200"> 
	      	<a href="{{ asset('uploads/albumphotos/'~photo.path) }}" data-rel="prettyPhoto[gallery1]">
	      		<img src="{{ asset('uploads/albumphotos/'~photo.path) }}" alt="{% if app.request.locale=='ar' %}{{ photo.titlear }}{% else %}{{ photo.title }}{% endif %}" class="img-responsive zoom-img" />
	      		<i class="fa fa-search"></i>
	      	</a> 
	      </div>
	      {% endif %}
      	{% endfor %}
      {% endfor %}
	  	
    </div>
  </div>
</section>

{% endblock %}