{% extends "::admin.html.twig" %}

{% block pagetitle %}User List{% endblock %}
	
{% block javascriptcode %}
	<script type="text/javascript">
	$(document).ready(function(){
		
		/* setup navigation, content boxes, etc... */
		Administry.setup();
	  
		/* tag input field */
		$("#tags").tagInput({
			tags:tags,
			//jsonUrl:"tags.json",
			sortBy:"frequency",
			suggestedTags:["jquery", "tagging", "tag", "component", "delicious", "javascript"],
			tagSeparator:" ",
			autoFilter:true,
			autoStart:false,
			//suggestedTagsPlaceHolder:$("#suggested"),
			boldify:true
		});
	
	});
	</script>
{% endblock %}

{% block contentsinglecolumn %}

{{ form_start(edit_form) }}

	<!-- Left column/section -->
	<section class="column width6 first">
	
	<br />
	
	{% if entity.id==1 %}<div class="box box-info">This user is marked as <b>Super User</b>, Username should be kept as <b>Admin</b> for identity purpose, should not be <b>Disabled</b>!</div>{% endif %}
	
	<h3>Update User</h3>
	
		<fieldset>
			<legend>Fill in details and press save..</legend>
			
			<p>
				{{ form_label(edit_form.username) }}<br/>
				{{ form_widget(edit_form.username) }}
				<small>e.g. admin</small>
			</p>
			
			<p>
				{{ form_label(edit_form.email) }}<br/>
				{{ form_widget(edit_form.email) }}
				<small>e.g. admin@website.com</small>
			</p>
			
			<p>
				{{ form_label(edit_form.password) }}<br/>
				{{ form_widget(edit_form.password) }}
				<small>Please re-enter password in-case you update user..</small>
			</p>
		
			<p class="box"><input type="submit" class="btn btn-green big" value="Save"/> or <a href="{{ path('renz_admin_user_index') }}">Cancel</a></p>
	
		</fieldset>
	
	</section>
	<!-- End of Left column/section -->
	
	<!-- Right column/section -->
	<aside class="column width2">
		
		<p><a href="{{ path('renz_admin_user_index') }}" class="btn btn-special"><img SRC="{{ asset('bundles/admin/img/page_white_go.png') }}" class="icon" alt=""/>Cancel and go back</a></p>
		
		<div class="content-box">
			<header>
				<h3>User Role</h3>
			</header>
			<section>
				Set User Role for accessing this Administration Panel.
				<p>{{ form_widget(edit_form.roles) }}</p>
			</section>
		</div>
		
		<div class="content-box">
			<header>
				<h3>User Status</h3>
			</header>
			<section>
				Choose whether or not you want this User to access this Administration panel.
				<p>{{ form_widget(edit_form.isActive) }}</p>
			</section>
		</div>
		 
		<div id="rightmenu">
			<dl class="first">
				<dt><img width="16" height="16" alt="" SRC="img/help.png"></dt>
				<dd><a href="#">Help</a></dd>
				<dd class="last">If you are a new user, you should read "Getting started"</dd>							
			</dl>
		</div>
		
	</aside>
	<!-- End of Right column/section -->

{{ form_end(edit_form) }}

{% endblock %}