{% extends '::base.html.twig' %}

{% block content %}

<style>
	.error{color:red;}
</style>

<script>
$(function (){
	$('#bookingform').validate({
		rules: {
			'existing-password': {
		    	required: true,
			},
			'new-password': {
			   required: true,
			},
			'confirm-new-password': {
			     required: true,
			     equalTo: "#new-password",
			},
		},
	});
});
</script>

<!-- Parallax Effect -->
<script type="text/javascript">$(document).ready(function(){$('#parallax-pagetitle').parallax("50%", -0.55);});</script>

<section class="parallax-effect">
  <div id="parallax-pagetitle" style="background-image: url({{ asset('bundles/main/images/parallax/parallax-01.jpg') }});">
    <div class="color-overlay"> 
      <!-- Page title -->
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ol class="breadcrumb">
              <li><a href="{{ path('renz_main_index_index') }}">Home</a></li>
              <li class="active">Change Password</li>
            </ol>
            <h1>Change Your Password</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row"> 
    
    	<!-- Slider -->
	    <section class="room-slider standard-slider mt50">
	      <div class="col-sm-12 col-md-8">
	      	<div class="col-md-8 col-md-offset-2">
	      		
	      		{% for flashMessage in app.session.flashbag.get('error') %}
				    <div class="alert alert-danger alert-dismissable">
			          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					  {{ flashMessage }}
					</div>
				{% endfor %}
				{% for flashMessage in app.session.flashbag.get('success') %}
				    <div class="alert alert-success alert-dismissable">
			          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					  {{ flashMessage }}
					</div>
				{% endfor %}
				
				<br />
	      		
				<form class="reservation-vertical clearfix" role="form" method="post" action="{{ path('renz_main_account_changepassword') }}" id="bookingform">
	          	  <div class="form-group">
		            <label for="email" accesskey="E">Existing Password:</label>
		            <input name="existing-password" type="password" id="existing-password" class="form-control" />
		          </div>
		          <div class="form-group">
		            <label for="email" accesskey="E">New Password:</label>
		            <input name="new-password" type="password" id="new-password" class="form-control" />
		          </div>
		          <div class="form-group">
		          	<label for="email" accesskey="E">Confirm New Password:</label>
		            <input name="confirm-new-password" type="password" id="confirm-new-password" class="form-control" />
		          </div>
		          <button type="submit" class="btn btn-primary btn-block">Change Password</button>
		        </form>
	      	</div>
	      </div>
	    </section>
	    
	    <!-- right nav -->
		{{ include('MainBundle:includes:account/_rightnav.html.twig') }}
    
  </div>
</div>

{% endblock %}